<% if signed_in? %>
<br>
  <div class="row">
    <h4>Add a review:</h4>
      <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
  </div> <!-- end row -->

  <div class="form-group row">
    <%= f.label :body, "Comments" %><br>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <div class="form-group row">
    <%= f.label :rating %><br>
    <%= f.text_field :rating, class: "rating form-control" %>
  </div>  

  <div class="row">
    <p>
      <div class="rating"></div>
    </p>

    <p>
      <%= f.submit "Submit" %>
    </p>
  </div>


  <% end %>
<% end %>