<div class="col-xl-3 col-md-4 col-sm-12">

  <%= link_to product do %>
    <% if product.image_url %>
      <%= image_tag(product.image_url, class: "img-thumbnail img-fluid") %>
    <% end %>
  <h2><%= product.name %></h2>
  <% end %>

  <p><strong>Product Description: </strong><%= product.description %></p>
  <p><strong>Color: </strong><%= product.colour %></p>
  <p><strong>Price: </strong><%= product.price %></p>
  <%= link_to 'Show', product, class:"btn btn-primary" %>
  <%= link_to 'Edit', edit_product_path(product), class:"btn btn-info" %>
  <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
</div><!-- /col -->
